#root {
  max-width: 1280px;
  font-family: "Urbanist", sans-serif;

  text-align: center;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.navbar-main > p {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  color: white;
  text-decoration: none;
}

.main-logo {
  max-width: 100px;
}
