#root {
  font-family: "Urbanist", sans-serif;

  text-align: center;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  background-color: lightcoral;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-main > p {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  color: green;
  text-decoration: none;
}

.main-logo {
  max-width: 100px;
}

.collapse {
  font-size: 20px;
  background-color: black;
  margin: 25px 110px 25px 110px;
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
